@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


body,
#root {
  background-color: #efefef;
}

h1 {
  @apply text-4xl;
  font-family: 'Geologica', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

a {
  @apply text-2xl;
  font-family: 'Open Sans', sans-serif;
}