@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-slate-200 transition-colors;
}

.dark body {
  @apply bg-gray-900 text-stone-100 transition-colors;
}

.dark nav {
  @apply bg-gradient-to-r from-blue-950 via-purple-950 to-pink-950 transition-colors;
}

.dark footer {
  @apply bg-gradient-to-r from-blue-950 via-purple-950 to-pink-950 transition-colors;
}

h1 {
  font-family: 'Geologica', sans-serif, ;
  font-family: 'Open Sans';
}

p {
  font-size: 20px;
}

a {
  font-family: 'Open Sans', sans-serif;
}

.carousel-container {
  @apply relative h-32 w-3/6 sm:h-40 md:h-56;
  perspective: 450px;
  transform-style: preserve-3d;
}

.carousel-item {
  @apply absolute w-full h-full cursor-pointer overflow-hidden rounded-3xl drop-shadow-4xl transition-all duration-700;
}