@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-slate-200 transition-colors h-screen;

}

.dark body {
  @apply bg-gray-900 text-stone-100 transition-colors;
}

.dark nav {
  @apply bg-gradient-to-r from-blue-950 via-purple-950 to-pink-950 transition-colors;
}

.dark footer {
  @apply bg-gradient-to-r from-blue-950 via-purple-950 to-pink-950 transition-colors;
}

.dark section {
  @apply bg-gradient-to-r from-blue-950 via-purple-950 to-pink-950 transition-colors;
}

.dark p {
  color: azure;
}

h1 {
  font-family: 'Geologica', sans-serif, ;
  font-family: 'Open Sans';
}

p {
  font-size: 16px;
}

a {
  font-family: 'Open Sans', sans-serif;
}

.carousel-container {
  @apply h-32 w-3/6 sm:h-40 md:h-56;
  perspective: 550px;
  transform-style: preserve-3d;
}

.carousel-item {
  @apply absolute h-full w-full cursor-pointer rounded-3xl drop-shadow-4xl transition-all duration-700;
}

.carousel-btn-switch-card {
  @apply absolute z-40 flex h-9 cursor-pointer items-center justify-center rounded-full border-2 border-[#302e30] bg-[#181818] text-2xl opacity-75 transition duration-300 hover:bg-opacity-100 md:h-12 md:w-12;
}

.carousel-btn-switch-card-left {
  @apply right-1/2 top-1/2 translate-x-[-200px] translate-y-[-50%] transform sm:translate-x-[-250px] md:translate-x-[-300px] lg:translate-x-[-550px];
}

.carousel-btn-switch-card-right {
  @apply left-1/2 top-1/2 translate-x-[200px] translate-y-[-50%] transform sm:translate-x-[250px] md:translate-x-[300px] lg:translate-x-[550px];
}

.carousel-indicator-dots {
  @apply h-2 w-2 rounded-full bg-blue-800 opacity-50 transition-all duration-500 hover:w-4 hover:opacity-100;
}

.carousel-indicator-container {
  @apply absolute left-1/2 -bottom-10 flex h-5 w-20 -translate-x-1/2 transform items-center justify-center space-x-5 md:-bottom-10;
}